In [60]:
msg = "thanks for the email.We will get back to you shortly!!"
def email_reply(name):
    print("Hello", name + ', ' + msg)

name = input("enter the name: ")
email_reply(name)

enter the name: sreeja
Hello sreeja, thanks for the email.We will get back to you shortly!!

In [63]:
a = (lambda name,msg : "Hello", name + ', ' + msg)

name ="Sreeja"
msg = "Thanks!!"
print(a)

(<function <lambda> at 0x107827880>, 'Sreeja, Thanks!!')

### Python Arbitrary Arguments

In [18]:
def email_reply(*names,msg="thanks for the email.We will get back to you shortly!!"):

    # names is a tuple with arguments
    for name in names:
        print("Hi", name +', '+ msg)


email_reply("Monica", "Luke", "Steve", "John")

Hi Monica, thanks for the email.We will get back to you shortly!!
Hi Luke, thanks for the email.We will get back to you shortly!!
Hi Steve, thanks for the email.We will get back to you shortly!!
Hi John, thanks for the email.We will get back to you shortly!!

### Insert values from the text file to a function

In [45]:
data = []
def email_reply(*names, msg="thanks for the email.We will get back to you shortly!!"):
    for name in names:
        d = ("Hello ", name , ', ' , msg)
        df.append(d) 
        df.to_txt("result.txt")
     #   f.write(items)
    #print("File written successfully")
        
f = open("demo.txt","r")
for i in f:
    email_reply(i)

AttributeError: 'list' object has no attribute 'to_txt'

In [39]:
print(df)

[('Hello ', 'John\n', ', ', 'thanks for the email.We will get back to you shortly!!'), ('Hello ', 'joseph\n', ', ', 'thanks for the email.We will get back to you shortly!!'), ('Hello ', 'alex\n', ', ', 'thanks for the email.We will get back to you shortly!!'), ('Hello ', 'mike\n', ', ', 'thanks for the email.We will get back to you shortly!!'), ('Hello ', 'michelle', ', ', 'thanks for the email.We will get back to you shortly!!')]

### Global Variables

In [49]:
a = "Thanks for the email.We will get back to you shortly!!"
def show():
    print ("inside func:",a)


show()   
print ("outside func:", a)

inside func: Thanks for the email.We will get back to you shortly!!
outside func: Thanks for the email.We will get back to you shortly!!

### Write a program with function including a file read globally

### Variable scope and Return Values

In [52]:
def sum(a,b):
    sum = a+b
    print(sum)

    
x = sum(4,5)
print(x)

9

In [53]:
print(x)

None

In [59]:
def sum (a,b):
    sum = a+b
    return(sum)
    
sum = sum(4,5)
print(sum)

9

In [58]:
print(sum)

9

### Lambda Function

In [61]:
sum = (lambda x,y : x+y)

x=2
y=4
z=x+y
print ("sum =",z)

sum = 6

In [28]:
def myfunc(n):
  return lambda a : a * n


triple = myfunc(3)

print(triple(11))

33