## List

In [109]:
name = ["john","christina","alex","ann","michelle","chris","ben","will"]
print(name)

['john', 'christina', 'alex', 'ann', 'michelle', 'chris', 'ben', 'will']

### List Length

In [18]:
print(len(name))

8

### Index concept

In [19]:
print (name[0])
print (name[1])
print (name[2])
print (name[3])

John
Christina
Alex
Ann

In [20]:
print (name[-1])
print (name[-2])
print (name[-3])
print (name[-4])

Will
Ben
Chris
Michelle

### Type of a list

In [21]:
print(type(name))

<class 'list'>

### List constructor

In [55]:
name = list(("John","Christina","Alex","Ann","Michelle","Chris","Ben","Will"))
print(name)

['John', 'Christina', 'Alex', 'Ann', 'Michelle', 'Chris', 'Ben', 'Will']

### Range of Indexes

In [23]:
print(name[2:5])

# Remember that the first item is position 0 
# and the item in position 3 is NOT included

['Alex', 'Ann', 'Michelle']

In [106]:
print(name[3:])

('ann', 'michelle', 'chris', 'ben', 'will')

In [25]:
print(name[:3])

['John', 'Christina', 'Alex']

In [28]:
print(name[-4:-1])

['Michelle', 'Chris', 'Ben']

### Checking for items

In [32]:
if "Smith" in name:
  print("Yes, The student is present.")
print("The student is absent")

The student is absent

### Change Item Value

In [110]:
name[2] = "Joseph"
print(name)

['john', 'christina', 'Joseph', 'ann', 'michelle', 'chris', 'ben', 'will']

In [107]:
print(name)

('john', 'christina', 'alex', 'ann', 'michelle', 'chris', 'ben', 'will')

### Change a Range of Item Values

In [56]:
name[2:4] = ["Joseph","Sam"]
print(name)

['John', 'Christina', 'Joseph', 'Sam', 'Michelle', 'Chris', 'Ben', 'Will']

### Insert Items

In [57]:
name.insert(2,"Alex")
print(name)

['John', 'Christina', 'Alex', 'Joseph', 'Sam', 'Michelle', 'Chris', 'Ben', 'Will']

In [58]:
print(len(name))

9

### Append Items

In [114]:
name.append("Mariya")
print(name)

['john', 'christina', 'Joseph', 'ann', 'michelle', 'chris', 'ben', 'will', 'Mariya']

### Remove Items

In [115]:
name.remove("Mariya")
print(name)

['john', 'christina', 'Joseph', 'ann', 'michelle', 'chris', 'ben', 'will']

### Remove Specified Index

In [116]:
name.pop(4)
print(name)

['john', 'christina', 'Joseph', 'ann', 'chris', 'ben', 'will']

In [63]:
name.pop()
print(name)

['John', 'Christina', 'Alex', 'Joseph', 'Michelle', 'Chris', 'Ben']

In [64]:
del name[0]
print(name)

['Christina', 'Alex', 'Joseph', 'Michelle', 'Chris', 'Ben']

In [65]:
name.clear()
print(name)

[]

### List Comprehension

In [75]:
name = ['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']
newlist = []

for x in name:
     if "a" in x:
        newlist.append(x)

print(newlist)

['christina', 'alex', 'sam']

### Sort List

In [76]:
name.sort()
print(name)

['alex', 'ben', 'chris', 'christina', 'john', 'joseph', 'michelle', 'sam', 'will']

In [77]:
name.sort(reverse = True)
print(name)

['will', 'sam', 'michelle', 'joseph', 'john', 'christina', 'chris', 'ben', 'alex']

### Case Insensitive Sort

In [78]:
name = ['John', 'christina', 'Alex', 'joseph', 'Sam', 'michelle', 'chris', 'ben', 'Will']
name.sort()
print(name)

['Alex', 'John', 'Sam', 'Will', 'ben', 'chris', 'christina', 'joseph', 'michelle']

In [81]:
name = ['John', 'christina', 'Alex', 'joseph', 'Sam', 'michelle', 'chris', 'ben', 'Will']
name.sort(reverse = True)
print(name)

['michelle', 'joseph', 'christina', 'chris', 'ben', 'Will', 'Sam', 'John', 'Alex']

### Reverse Order

In [80]:
name = ['John', 'christina', 'Alex', 'joseph', 'Sam', 'michelle', 'chris', 'ben', 'Will']
name.reverse()
print(name)

['Will', 'ben', 'chris', 'michelle', 'Sam', 'joseph', 'Alex', 'christina', 'John']

### Copy a List to another list

In [82]:
name = ['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']
my_list = name.copy()
print(my_list)

['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']

### Join Two Lists

In [84]:
name = ['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']
roll_num = [5,4,1,6,8,7,3,2,9]
stu_id = name + roll_num
print(stu_id)

['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will', 5, 4, 1, 6, 8, 7, 3, 2, 9]

In [86]:
name = ['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']
roll_num = [5,4,1,6,8,7,3,2,9]
for x in roll_num:
    name.append(x)
print(name)

['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will', 5, 4, 1, 6, 8, 7, 3, 2, 9]

In [87]:
name = ['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will']
roll_num = [5,4,1,6,8,7,3,2,9]
name.extend(roll_num)
print(name)

['john', 'christina', 'alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will', 5, 4, 1, 6, 8, 7, 3, 2, 9]

# Tuples

In [89]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")
print(name_tuples)

('john', 'christina', 'alex', 'ann', 'michelle', 'chris', 'ben', 'will')

### Change Tuple Values

In [94]:
name_list = list (name_tuples)
name_list[3] = "sam"
name_tuples = tuple (name_list)
print(name_tuples)

('john', 'christina', 'alex', 'sam', 'michelle', 'chris', 'ben', 'will')

### Add Items

### Loop Through a Tuple

In [98]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")
for x in name_tuples:
    print(x)

john
christina
alex
ann
michelle
chris
ben
will

### Loop Through the Index Numbers

In [99]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")
for i in range(len(name_tuples)):
    print(name_tuples[i])

john
christina
alex
ann
michelle
chris
ben
will

### Using a While Loop

In [100]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")
i = 0
while i < len(name_tuples):
  print(name_tuples[i])
  i = i + 1

john
christina
alex
ann
michelle
chris
ben
will

### Adding two tuples

In [104]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")
roll_num = (5,4,1,6,8,7,3,2,9)

tuple3 = name_tuples + roll_num

print(tuple3)

('john', 'christina', 'alex', 'ann', 'michelle', 'chris', 'ben', 'will', 5, 4, 1, 6, 8, 7, 3, 2, 9)

### Create Tuple With One Item

In [4]:
name_tuples = ("john")
print(name_tuples)
print(type(name_tuples))

john
<class 'str'>

In [5]:
name_tuples = ("john",)
print(name_tuples)
print(type(name_tuples))

('john',)
<class 'tuple'>

### The tuple() Constructor

In [81]:
name_tuples =tuple(("john","christina","alex","ann","michelle","chris","ben","will"))
print(name_tuples)

('john', 'christina', 'alex', 'ann', 'michelle', 'chris', 'ben', 'will')

#### Create a tuple and print values from the tuple for :
#### a, positive index
#### b, negative index
#### c, range of indexes

### Unpacking of tuples

In [49]:
name_tuples = ("john","christina","alex","ann","michelle","chris","ben","will")

(a,b,c,d,e,f,g,h) = name_tuples
print(a)
print(b)
print(c)
print(d)

john
christina
alex
ann

### Loop in tuples

In [82]:
(a,b,c,d,e,f,g,h) = ("john","christina","alex","ann","michelle","chris","ben","will")
print(a)
print(b)
print(c)
print(d)

john
christina
alex
ann

# Sets

In [35]:
name_set = {'john', 'christina','alex', 'joseph', 'sam', 'michelle', 'chris', 'ben', 'will'}
print(name_set)

{'john', 'joseph', 'alex', 'sam', 'christina', 'michelle', 'ben', 'will', 'chris'}

In [22]:
print(len(name_set))

9

In [23]:
set1 = {"john", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'john'}

In [24]:
print(type(name_set))

<class 'set'>

In [51]:
name_set = set(('john', 'christina','alex', 'joseph'))
print(name_set)

{'christina', 'john', 'joseph', 'alex'}

### Access Items from a set

#### cannot access items in a set by referring to an index or a key.

In [50]:
for x in name_set :
    print(x)

Alabama
texas
california
23
40
john
sam
ben
Ohio
will
67
colorado
christina
michelle
89
kate
washington
chris

### Add Items

In [36]:
name_set.add("kate")
print(name_set)

{'kate', 'john', 'joseph', 'alex', 'sam', 'christina', 'michelle', 'ben', 'will', 'chris'}

### Add Set to another set

In [37]:
place = {"new york", "california","colorado", "texas","washington","Ohio","Alabama"}
name_set.update(place)
print(name_set)

{'kate', 'colorado', 'john', 'joseph', 'alex', 'Alabama', 'texas', 'sam', 'christina', 'michelle', 'ben', 'california', 'new york', 'will', 'Ohio', 'washington', 'chris'}

### Add Any Iterable to a set

In [83]:
mark = [23,45,67,89,'40']
name_set.update(mark)
print(name_set)

{67, '40', 'john', 'joseph', 'alex', 45, 'christina', 23, 89}

### Remove Item

In [46]:
name_set.remove(45)
print(name_set)

{'joseph', 'Alabama', 'alex', 'texas', 'california', 23, 40, 'john', 'sam', 'ben', 'Ohio', 'will', 67, 'colorado', 'christina', 'michelle', 89, 'kate', 'washington', 'chris'}

In [47]:
name_set.discard("alex")
print(name_set)

{'joseph', 'Alabama', 'texas', 'california', 23, 40, 'john', 'sam', 'ben', 'Ohio', 'will', 67, 'colorado', 'christina', 'michelle', 89, 'kate', 'washington', 'chris'}

In [52]:
name_set.pop()
print(name_set)

{'john', 'joseph', 'alex'}

In [70]:
name_set.clear()
print(name_set)

set()

### intersection

In [71]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")
set3 = name_set1.intersection(name_set2)
print(set3)

{'christina', 'john', 'alex'}

### intersection update

In [84]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")
name_set1.intersection_update(name_set2)
print(name_set1)

{'christina', 'john', 'alex'}

### Update

In [77]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")

name_set1.update(name_set2)

print(name_set1)

{'ann', 'john', 'joseph', 'alex', 'christina', 'michelle', 'ben', 'will', 'chris'}

###  Difference

In [93]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = {"john","christina","alex","ann","michelle","chris","ben","will"}

set3 = name_set1.difference(name_set2)
set4 = name_set2.difference(name_set1)

print(set3)
print(set4)

{'joseph'}
{'ann', 'michelle', 'ben', 'will', 'chris'}

In [91]:
name_set2 = {"john","christina","alex","ann","michelle","chris","ben","will"}
name_set1 = {'john', 'christina','alex', 'joseph'}
set4 = name_set2.difference(name_set1)
print(set4)

{'ann', 'michelle', 'ben', 'will', 'chris'}

### Difference_update
### The difference_update() method removes the items that exist in both sets.

In [69]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")
name_set1.difference_update(name_set2)
print(name_set1)

{'joseph'}

### Symmetric difference

#### The symmetric_difference() returns a set that contains all items from both set, but not the items that are present in both sets.

In [60]:
name_set1 = {'john', 'christina','alex', 'joseph'}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")
set3 = name_set1.symmetric_difference(name_set2)
print(set3)

{'ann', 'joseph', 'michelle', 'ben', 'will', 'chris'}

### Join Two Sets

In [96]:
name_set = {'john', 'christina','alex', 'joseph'}
mark = {23,45,67,89,40}
name_set2 = ("john","christina","alex","ann","michelle","chris","ben","will")

set_u1 = name_set.union(name_set2)
set_u2 = set_u1.union(mark)

print(set_u1)
print(set_u2)

{'ann', 'john', 'joseph', 'alex', 'christina', 'michelle', 'ben', 'will', 'chris'}
{67, 'ann', 40, 'john', 'joseph', 'alex', 45, 'christina', 'michelle', 'ben', 23, 'will', 89, 'chris'}

In [1]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

In [2]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{('abc', 'xyz'), 1, 'PYnative'}

In [3]:
sampleSet = {"Yellow", "Orange", "Black"}
for item in sampleSet:
    print(item)

Black
Yellow
Orange

In [4]:
 P = {"B","A","N","A","R","A","S"}
 Q = {"B","H","A","R","A","T"}
 R = {"B","H","A","T","I","N","D","A"}

In [5]:
a=P.symmetric_difference(Q)

In [6]:
print(a)

{'N', 'T', 'H', 'S'}

## Dictionaries

In [1]:
carmodel = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(carmodel)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [4]:
carmodel = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ""
}
print(carmodel)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ''}

In [5]:
print(len(carmodel))

4

In [6]:
car = {
  "brand": "Ford",
  "electric": False,
  "year": 2020,    
  "colors": ["red", "white", "blue"]
}
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue']}

In [8]:
car = {
  "brand": "Ford",
  "electric": False,
  2 : 2020,    
  "colors": ["red", "white", "blue"]
}
print(car)

{'brand': 'Ford', 'electric': False, 2: 2020, 'colors': ['red', 'white', 'blue']}

In [30]:
print(type(car))

<class 'dict'>

### Access the data from a dictionary

In [31]:
x = car["year"]
print(x)

1947

In [32]:
y = car.get("brand")
print(y)

Ford

In [33]:
z = car.keys()
print(z)

dict_keys(['brand', 'electric', 'year', 'colors'])

### Add new key to the dictionary

In [46]:
car["seater"] = 5
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'seater': 5}

In [40]:
x = car.items()
print(x)

# Return each item in a dictionary, as tuples in a list.

dict_items([('brand', 'Ford'), ('electric', False), ('year', 2020), ('colors', ['red', 'white', 'blue']), ('seater', 5)])

### Q1: Write a script to check if Key Exists

### Change Values in a Dictionary

In [12]:
car = {
  "brand": "Ford",
  "electric": False,
  "year": 2020,    
  "colors": ["red", "white", "blue"],
  "seater": 5
}
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'seater': 5}

In [42]:
car["colors"] = "black"
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': 'black', 'seater': 5}

In [44]:
car.update({"year" : "2022"})
print(car)

{'brand': 'Ford', 'electric': False, 'year': '2022', 'colors': 'black', 'seater': 5}

In [48]:
car["colors"][1] = "black"
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'black', 'blue'], 'seater': 5}

In [13]:
car["colors"].append("black")
print(car)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue', 'black'], 'seater': 5}

### Removing Items

In [52]:
car.pop("electric")
print(car)

{'brand': 'Ford', 'year': 2020, 'colors': ['red', 'black', 'blue', 'black'], 'seater': 5}

In [53]:
car.popitem()
print(car)
#Remove the last added item from the dictionary

{'brand': 'Ford', 'year': 2020, 'colors': ['red', 'black', 'blue', 'black']}

In [54]:
del car["year"]
print(car)

{'brand': 'Ford', 'colors': ['red', 'black', 'blue', 'black']}

In [55]:
car.clear() 
print(car)

{}

### Loop Through a Dictionary

In [57]:
car = {
  "brand": "Ford",
  "electric": False,
  "year": 2020,    
  "colors": ["red", "white", "blue"],
  "seater": 5
}

In [14]:
for x in car:
    print(x)

brand
electric
year
colors
seater

In [15]:
for x in car.values():
    print(x)

Ford
False
2020
['red', 'white', 'blue', 'black']
5

In [59]:
for x in car:
    print(car[x])

Ford
False
2020
['red', 'white', 'blue']
5

In [61]:
for x in car.keys():
    print(x)

brand
electric
year
colors
seater

In [62]:
for x, y in car.items():
  print(x, y)

brand Ford
electric False
year 2020
colors ['red', 'white', 'blue']
seater 5

### Copy a Dictionary

In [64]:
mydict = car.copy()
print(mydict)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'seater': 5}

In [65]:
mydict = dict(car)
print(mydict)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'seater': 5}

### Nested Dictionaries

In [68]:
myfamily = {
  "child1" : {
              "name" : "Emil",
               "year" : 2004 },
  "child2" : {
              "name" : "Tobias",
             "year" : 2007 },
  "child3" : {
               "name" : "Linus",
               "year" : 2011 }
}

In [69]:
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [17]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
print(child1,child2,child3)

{'name': 'Emil', 'year': 2004} {'name': 'Tobias', 'year': 2007} {'name': 'Linus', 'year': 2011}

In [19]:
myfamily = {
  "ch1" : child1,
  "ch2" : child2,
  "ch3" : child3
}
print(myfamily)

{'ch1': {'name': 'Emil', 'year': 2004}, 'ch2': {'name': 'Tobias', 'year': 2007}, 'ch3': {'name': 'Linus', 'year': 2011}}

In [82]:
myfamily["location"]="Texas"
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004, 'location': 'Texas'}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}, 'location': 'Texas'}

In [20]:
x = myfamily.setdefault("location", "Texas")
print(myfamily)

{'ch1': {'name': 'Emil', 'year': 2004}, 'ch2': {'name': 'Tobias', 'year': 2007}, 'ch3': {'name': 'Linus', 'year': 2011}, 'location': 'Texas'}

In [89]:
x = ('location',)
y = "Texas"

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'location': 'Texas'}

In [ ]:
a= input()
b=input
child1[a]=b